<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<h3 th:text="${subject}"></h3>
    	<p th:text="${email}"></p>
	</body>
</html>